@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  /* 其他 CSS 變數 */
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  /* 其他暗色模式的 CSS 變數 */
}
